@model Work2.Models.Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SelectList", "SelectOrder", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.OrderID)</td>
            <td>@Html.TextBoxFor(model => model.OrderID, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.CompanyName)</td>
            <td>@Html.TextBoxFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.EmployeeID)</td>
            <td>@Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.employeelist, "請選擇...")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ShipperID)</td>
            <td>@Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.shipperlist, "請選擇...")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.OrderDate)</td>
            <td>@Html.TextBoxFor(model => model.OrderDate, new { type = "date", @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.RequiredDate)</td>
            <td>@Html.TextBoxFor(model => model.RequiredDate, new { type = "date", @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ShipperDate)</td>
            <td>@Html.TextBoxFor(model => model.ShipperDate, new { type = "date", @class = "form-control" })</td>
        </tr>
    </table>
    <input type="submit" value="查詢" />
    <input type="reset" value="清除" />
    <button onclick="location.href='@Url.Action("InsertOrder", "SelectOrder")';return false;">新增訂單</button>
}
