
@model Work2.Models.Order
@{
    ViewBag.Title = "InsertOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table>
    <tr>
        <td>@Html.LabelFor(model => model.CustomerID)</td>
        <td>@Html.DropDownListFor(model => model.CustomerID, (List<SelectListItem>)ViewBag.customerlist, "請選擇...")</td>
        <td>@Html.ValidationMessageFor(m => m.CustomerID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.EmployeeID)</td>
        <td>@Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.employeelist, "請選擇...")</td>
        <td>@Html.ValidationMessageFor(m => m.EmployeeID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.OrderDate)</td>
        <td>@Html.TextBoxFor(model => model.OrderDate, new { @type = "date", @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.OrderDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.RequiredDate)</td>
        <td>@Html.TextBoxFor(model => model.RequiredDate, new { @type = "date", @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.RequiredDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipperDate)</td>
        <td>@Html.TextBoxFor(model => model.ShipperDate, new { @type = "date", @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipperID)</td>
        <td>@Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.shipperlist, "請選擇...")</td>
        <td>@Html.ValidationMessageFor(m => m.ShipperID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipName)</td>
        <td>@Html.TextBoxFor(model => model.ShipName, new { @class = "k-textbox" })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Freight)</td>
        <td>@Html.TextBoxFor(model => model.Freight, new { type = "number", @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.Freight)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipCountry)</td>
        <td>@Html.TextBoxFor(model => model.ShipCountry, new { @class = "k-textbox" })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipCountry)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipCity)</td>
        <td>@Html.TextBoxFor(model => model.ShipCity, new { @class = "k-textbox" })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipCity)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipRegion)</td>
        <td>@Html.TextBoxFor(model => model.ShipRegion, new { @class = "k-textbox" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.CitShipPostalCodey)</td>
        <td>@Html.TextBoxFor(model => model.CitShipPostalCodey, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipAddress)</td>
        <td>@Html.TextBoxFor(model => model.ShipAddress, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipAddress)</td>
    </tr>
</table>

<input type="submit" value="存檔" />
<button onclick="location.href='@Url.Action("Index", "SelectOrder")';return false;">回上一頁</button>
<h3>訂單明細:</h3>

<div id="detailgrid">

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#CustomerID").kendoDropDownList();
        $("#EmployeeID").kendoDropDownList();
        $("#ShipperID").kendoDropDownList();
        $("#OrderDate").kendoDatePicker();
        $("#RequiredDate").kendoDatePicker();
        $("#ShipperDate").kendoDatePicker();


        var dataSrc = new kendo.data.DataSource({
            schema: {
                model: {
                    fields: {
                        ProductID: { defaultValue: { 'Value': "", 'Text': "請選擇" } },
                        UnitPrice: { type: "number", editable: false },
                        Qty: { type: "number" },
                        Total: { type: "number", editable: false },
                    }
                }
            },
            change: GetPrice,
            pageSize: 10,
        });

        $("#detailgrid").kendoGrid({
            dataSource: dataSrc,
            pageable: true,

            toolbar: ["create"],
            columns: [
                { field: "ProductID", title: "商品", width: "180px", editor: categoryDropDownEditor, template: "#=ProductID.Text#" },
                { field: "UnitPrice", title: "單價", format: "{0:c}", width: "100px" },
                { field: "Qty", title: "數量", format: "{0:c}", width: "100px" },
                { field: "Total", title: "小計", format: "{0:c}", width: "100px" },
                { command: "destroy", title: " ", width: "100px" }],
            editable: true
        });


        function categoryDropDownEditor(container, options) {
            $('<input required name="' + options.field + '"/>').appendTo(container).kendoDropDownList({
                autoBind: false,
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: {
                    transport: {
                        read: {
                            type: "GET",
                            url: "/SelectOrder/InsertProduct",
                            dataType: "json"
                        }
                    }
                }
            });
        }
        function GetPrice(e) {
            //var id = e.items[0].ProductID.Value;
           
            if (e.field == "ProductID") {
                var model = e.items[0];
                var currentValue;
                $.ajax({
                    type: "POST",
                    data: { 'arg': e.items[0].ProductID.Value },
                    dataType: 'json',
                    url: '/SelectOrder/GetPrice',
                    success: function (response) {
                        currentValue = response;
                        model.UnitPrice = currentValue
                        model.Total = response * e.items[0].Count;
                        console.log(model.Total);
                        $("#insert_detail_grid").find("tr[data-uid='" + model.uid + "'] td:eq(1)").text(currentValue);
                        //$("#insert_detail_grid").data('kendoGrid').refresh();
                        //dataSource.sync();
                        /*
                        var grid = $("#detailgrid").data("kendoGrid");
                        grid.select("tr:eq(0), tr:eq(1)");
                        */
                        

                    },
                    error: function (result) {
                        console.log(result);
                    }
                })
            }






        }


    });





</script>

