@{

    ViewBag.Title = "SelectList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<table>
    <tr>
        <th>訂單編號</th>
        <th>客戶名稱</th>
        <th>訂購日期</th>
        <th>出貨日期</th>        
        <th></th>
        <th></th>
    </tr>
    @for (int i = 0; i < ViewBag.Orderdata.Rows.Count; i++)
    {
        <tr>
            <td>
                @ViewBag.Orderdata.Rows[i][0].ToString()
            </td>
            <td>
                @ViewBag.Orderdata.Rows[i][1].ToString()
            </td>
            <td>
                @ViewBag.Orderdata.Rows[i][2].ToString("yyyy/MM/dd")
            </td>
            <td>
                @try
                {
                    @ViewBag.Orderdata.Rows[i][3].ToString("yyyy/MM/dd")
                }
                catch
                {
                    @ViewBag.Orderdata.Rows[i][3]
                }
            </td>
            <td>
                @Html.ActionLink("修改", "Update", new { controller = "SelectOrder", orderID = @ViewBag.Orderdata.Rows[i][0] })
            </td>
            <td>
                @Html.ActionLink("刪除", "Del", new { controller = "SelectOrder", orderID = @ViewBag.Orderdata.Rows[i][0] })
            </td>
        </tr>
    }
</table>
<button onclick="location.href='@Url.Action("Index", "SelectOrder")';return false;">回查詢頁</button>


