
@model Work2.Models.Order
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table>
    <tr>
        <td>@Html.LabelFor(model => model.OrderID)</td>
        <td>@Html.TextBoxFor(model => model.OrderID, new { Readonly = true, @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.OrderID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.CustomerID)</td>
        <td>@Html.DropDownListFor(model => model.CustomerID, (List<SelectListItem>)ViewBag.customerlist, new { @class = "dropdownlist" })</td>

        <td>@Html.ValidationMessageFor(m => m.CustomerID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.EmployeeID)</td>
        <td>@Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.employeelist, new { @class = "dropdownlist"})</td>
        <td>@Html.ValidationMessageFor(m => m.EmployeeID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.OrderDate)</td>
        <td>@Html.TextBoxFor(model => model.OrderDate, new { Value = Model.OrderDate.HasValue ? Model.OrderDate.Value.ToString("yyyy-MM-dd") : "", type = "date", @class = "dateValidator " })</td>
        <td>@Html.ValidationMessageFor(m => m.OrderDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.RequiredDate)</td>
        <td>@Html.TextBoxFor(model => model.RequiredDate, new { Value = Model.RequiredDate.HasValue ? Model.RequiredDate.Value.ToString("yyyy-MM-dd") : "", type = "date", @class = "dateValidator " })</td>
        <td>@Html.ValidationMessageFor(m => m.RequiredDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipperDate)</td>
        <td>@Html.TextBoxFor(model => model.ShipperDate, new { Value = Model.ShipperDate.HasValue ? Model.ShipperDate.Value.ToString("yyyy-MM-dd") : "", type = "date", @class = "dateValidator " })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipperDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipperID)</td>
        <td>@Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.shipperslist, new { @class = "dropdownlist" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipName)</td>
        <td>@Html.DropDownListFor(model => model.ShipName, (List<SelectListItem>)ViewBag.shipperslist, new { @class = "dropdownlist" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Freight)</td>
        <td>@Html.TextBoxFor(model => model.Freight, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.Freight)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipCountry)</td>
        <td>@Html.TextBoxFor(model => model.ShipCountry, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipCountry)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipCity)</td>
        <td>@Html.TextBoxFor(model => model.ShipCity, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipCity)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipRegion)</td>
        <td>@Html.TextBoxFor(model => model.ShipRegion, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipRegion)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.CitShipPostalCodey)</td>
        <td>@Html.TextBoxFor(model => model.CitShipPostalCodey, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.CitShipPostalCodey)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ShipAddress)</td>
        <td>@Html.TextBoxFor(model => model.ShipAddress, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(m => m.ShipAddress)</td>
    </tr>
</table>
<a class='k-button' id="save">存檔<span class='k-icon k-i-search'></span></a>
<a class='k-button' id="delete" >刪除本筆訂單</a>
<a class='k-button' href="/SelectOrder/Index">回查詢頁</a>

<div id="detailtable"></div>




<script type="text/javascript">
    $(".dropdownlist").kendoDropDownList();
    $(".dateValidator").kendoDatePicker();


    



    $(document).ready(function () {

        $("#delete").click(function () {
            $.ajax({
                type: 'Post',
                url: '/SelectOrder/Del',
                data: { 'OrderID': $('#OrderID').val() },
                datatype: 'json',
                success: function (response) {
                    alert(response);
                    window.location.href = '/SelectOrder/Index';
                },
                error: function (error) {

                }
            });

        });

        var Orderdetail = @Html.Raw(Json.Encode(Model.OrderDetail));
        //console.log(Orderdetail);
        var data = [];
        $.each(Orderdetail, function (id, a) {
            //console.log(a);
            data.push({
                'ProductID': a.ProductID,
                'UnitPrice': a.UnitPrice,
                'Qty': a.Qty,
                'Total': a.UnitPrice * a.Qty
            });
        });

        var dataSrc = new kendo.data.DataSource({
            data:data,
            schema: {
                model: {
                    fields: {
                        ProductID: {validation: {required: true} },
                        UnitPrice: { type: "number", editable: false},
                        Qty: { type: "number", validation: { required: true, min: 1 } },
                        Total: { type: "number", editable: false}
                    }
                }
            },
            aggregate:
                [
                    { field: "Total", aggregate: "Sum" }
                ],
            change: GetPrice,
            pageSize: 10,
        });
        $("#detailtable").kendoGrid({
            dataSource: dataSrc,      
            
            pageable: true,
            scrollable: true,
            sortable: true,
            selectable: true,
            filterable: true,
            toolbar: ["create"],
            columns: [
                { field: "ProductID", title: "商品", editor: categoryDropDownEditor, template: "#=ProductID#" },
                { field: "UnitPrice", title: "單價" },
                { field: "Qty", title: "數量" },
                { field: "Total", title: "小計", template: "#=kendo.toString(UnitPrice*Qty,'C0')#", aggregate: ["Sum"], footerTemplate: "總計:" + "#=kendo.toString(Sum,'C0')#" },
                { command: "destroy", title: " " }],
            editable: true
        });
        function categoryDropDownEditor(container, options) {
            $('<input required name="' + options.field + '"/>').appendTo(container).kendoDropDownList({
                autoBind: false,
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: {
                    transport: {
                        read: {
                            type: "GET",
                            url: "/SelectOrder/InsertProduct",
                            dataType: "json"
                        }
                    }
                }
            });
        }
        function GetPrice(e) {            
            if (e.field == "ProductID") {
                var model = e.items[0];
                var temp;
                $.ajax({
                    type: "POST",
                    data: { 'arg': e.items[0].ProductID.Value },
                    dataType: 'json',
                    url: '/SelectOrder/GetPrice',
                    success: function (response) {
                        temp = response;
                        if (temp !== model.UnitPrice) {
                            model.UnitPrice = temp
                            model.Total = temp * e.items[0].Qty;
                            $("#detailgrid").find("tr[data-uid='" + model.uid + "'] td:eq(1)").text(temp);
                            $("#detailgrid").find("tr[data-uid='" + model.uid + "'] td:eq(3)").text(model.Total);
                            $("#detailgrid").data('kendoGrid').refresh();
                            dataSrc.sync();
                        }
                    },
                    error: function (result) {
                        console.log("失敗");
                    }
                });
            } else if (e.field == "Qty") {
                var model = e.items[0];
                var temp;
                if (temp !== model.Total) {
                    temp = Math.round(e.items[0].UnitPrice * e.items[0].Qty);
                    model.Total = temp;
                    $("#detailgrid").find("tr[data-uid='" + model.uid + "'] td:eq(3)").text(temp);
                    $("#detailgrid").data('kendoGrid').refresh();
                    dataSrc.sync();
                }
            }
        }

        
    });

</script>