
@model Work2.Models.Order
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "SelectOrder", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.OrderID)</td>
            <td>@Html.TextBoxFor(model => model.OrderID, new { Readonly = true, @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.OrderID)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.CustomerID)</td>
            <td>@Html.DropDownListFor(model => model.CustomerID, (List<SelectListItem>)ViewBag.customerlist, "請選擇...")</td>

            <td>@Html.ValidationMessageFor(m => m.CustomerID)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.EmployeeID)</td>
            <td>@Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.employeelist, "請選擇...")</td>
            <td>@Html.ValidationMessageFor(m => m.EmployeeID)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.OrderDate)</td>
            <td>@Html.TextBoxFor(model => model.OrderDate, new { Value = Model.OrderDate.HasValue ? Model.OrderDate.Value.ToString("yyyy-MM-dd") : "", type = "date", @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.OrderDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.RequiredDate)</td>
            <td>@Html.TextBoxFor(model => model.RequiredDate, new { Value = Model.RequiredDate.HasValue ? Model.RequiredDate.Value.ToString("yyyy-MM-dd") : "", type = "date", @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.RequiredDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ShipperDate)</td>
            <td>@Html.TextBoxFor(model => model.ShipperDate, new { Value = Model.ShipperDate.HasValue ? Model.ShipperDate.Value.ToString("yyyy-MM-dd") : "", type = "date", @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.ShipperDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ShipperID)</td>
            <td>@Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.shipperslist, "請選擇...")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Freight)</td>
            <td>@Html.TextBoxFor(model => model.Freight, new { type = "number", @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.Freight)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ShipCountry)</td>
            <td>@Html.TextBoxFor(model => model.ShipCountry, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.ShipCountry)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ShipCity)</td>
            <td>@Html.TextBoxFor(model => model.ShipCity, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.ShipCity)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ShipRegion)</td>
            <td>@Html.TextBoxFor(model => model.ShipRegion, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.ShipRegion)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.CitShipPostalCodey)</td>
            <td>@Html.TextBoxFor(model => model.CitShipPostalCodey, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.CitShipPostalCodey)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ShipAddress)</td>
            <td>@Html.TextBoxFor(model => model.ShipAddress, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.ShipAddress)</td>
        </tr>
    </table>
    <input type="submit" value="存檔" />
    <button onclick="location.href='@Url.Action("Del", "SelectOrder",new { orderID = Model.OrderID })';return false;">刪除本筆訂單</button>
    <button onclick="location.href='@Url.Action("Index", "SelectOrder")';return false;">回查詢頁</button>
}